html,
body {
  height: 100%;
}
body {
  margin: 0;
  font-family: Roboto, "Helvetica Neue", sans-serif;
}

html {
  // min-height: 100%;
  background-image: url("/assets/images_background/p3.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

// app-menu {
//   z-index: 8899998;
//   position: absolute;
// }

// imageBackground {
//   // min-height: 100%;
//   background-image: url("/assets/images_background/p2.jpg");
//   background-attachment: fixed;
//   background-position: center;
//   background-repeat: no-repeat;
//   background-size: cover;
// }

mat-sidenav-container {
  background-image: url("/assets/images_background/p3.jpg");
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

mat-sidenav,
mat-drawer-inner-container {
  background-image: url("/assets/images_background/p1.jpg") !important;
  background-position: center;
  background-size: cover;
}

mat-sidenav {
  width: 9em;
}
